<div class="local-contexts-block">
  {% if tk_labels %}
    <ul class="tk-labels-list">
      {% for label in tk_labels %}
        <li>

          <a href="#" class="tk-label">

           <div class="tk-label-header">
              {% if display_option == 'show_name' %}
                <div class="tk-label-name">{{ label.name|default('No Label Title')|e('html') }}</div>
              {% endif %}
              
              <div class="tk-label-img"> 
              <img 
                src="{{ label.img_url|default('#')|e('html') }}" 
                alt="{{ label.name|default('Label Image')|e('html') }}" 
                title="{{ label.name|default('Label Name')|e('html') }}"
                class="tk-label-img" 
              />
              </div>
            </div>

            <div class="tk-label-text-container">
              {% if display_option == 'hide_name' %}
                <div><strong>{{ label.name|default('No Label Title')|e('html') }}</strong></div>
              {% endif %}
              {{ label.label_text|default('No Label text')|e('html') }}
            </div>

          </a>

        </li>
        
      {% endfor %}
    </ul>
  {% else %}
    <p></p>
  {% endif %}
</div>
